/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.json
composer.lock
dossier-pour-rabat/.~lock.rapport_info0303_FRANTZ_HALAL-ROSSIE.odt#